
body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./billScreen.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh; 
    width: 100%; 
}
